.BepInExInstall__label {
    font-family: 'RiskFont', Arial, sans-serif;
    margin: 10px;
}

.BepInExInstall__button {
    font-size: large;
    margin: 8px;
    padding: 5px;
    background-color: #21252b;
    color: #b2b2b3;
    border: 1px solid #b2b2b37a;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.BepInExInstall__button:active {
    color: white;
    border: 1px solid white;
    background-color: #b2b2b37a;
}

.BepInExInstall__button:hover {
    color: white;
    border: 1px solid white;
}
