.LocalListCard {
    margin: 3%;
    padding: 3%;
    color: white;
    border: 1px solid #b2b2b37a;
    background-color: #282c34;
    align-items: center;
    max-width: 290px;
}

.LocalListCard-Top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LocalListCard-Top-Buttons {
    display: flex;
    flex-direction: column;
    /* margin-left: 20%; */
    justify-content: space-between;
}

.LocalListCard-Top-Buttons button {
    font-size: large;
    font: x-large;
    margin: 8px;
    padding: 5px;
    background-color: #21252b;
    color: #b2b2b3;
    border: 1px solid #b2b2b37a;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.LocalListCard-Top-Buttons button:active {
    color: white;
    border: 1px solid white;
    background-color: #b2b2b37a;
}

.LocalListCard-Top-Buttons button:hover {
    color: white;
    border: 1px solid white;
}

.LocalListCard img {
    width: 40%;
    height: 40%;
}

.LocalListCard p {
    color: #b2b2b3;
    margin: 0;
}
