.LocalList {
    width: 360px;
    height: 360px;
    background-color: #21252b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LocalList__search {
    width: 358px;
    background-color: #21252b;
    border: 1px solid #b2b2b37a;
}

.LocalList__modList {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden auto;
}
