.Log {
    width: 95%;
    height: 26%;
    padding: 1%;
    background-color: #21252b;
    color: #b2b2b3;
    font-family: 'Courier New', Arial, sans-serif;
    word-wrap: break-word;
    overflow: hidden auto;
}

.Log__text {
    margin: 1%;
    margin-left: 0;
}
