.RemoteListCard {
    margin: 3%;
    color: white;
    background-color: #282c34;
    align-items: center;
    max-width: 290px;
}

.RemoteListCard__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.RemoteListCard__top-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RemoteListCard__top-buttons-button {
    font-size: large;
    margin: 8px;
    padding: 5px;
    background-color: #21252b;
    color: #b2b2b3;
    border: 1px solid #b2b2b37a;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.RemoteListCard__top-buttons-button:active {
    color: white;
    border: 1px solid white;
    background-color: #b2b2b37a;
}

.RemoteListCard__top-buttons-button:hover {
    color: white;
    border: 1px solid white;
}

.RRemoteListCard__top-image {
    margin: 8px;
    margin-bottom: 0;
    width: 40%;
    height: 40%;
}

.RemoteListCard__title {
    font-family: 'RiskFont', Arial, sans-serif;
    margin: 8px;
    color: #b2b2b3;
}
